ol {
    font-weight: bolder;
    font-size: large;
}

body {
    background-color: white; 
}

#cipher {
    margin-top: 5%;
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
}

.formTitle {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {
    padding-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myButton {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color:rgb(136, 61, 206);
    color: whitesmoke;
    font-weight: bold;
}

.myButton:hover {
    background-color: rgb(126, 36, 211);
}

.cipherForm {
    padding-left: 15px;
    padding-right: 15px;
}

.response {
    margin-top: 5%;
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
}